@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme{
    --color-primary: #f53838;
    --color-secondary: rgba(245, 56, 56, 0.35);
    --color-primary-text: #4F5665;
    --color-heading-text: #0B132A;  
    --font-primary:  "Rubik", sans-serif;
}
@layer{
    .section-container{
        @apply max-w-[1440px] container mx-auto px-4 py-16;
    }
}
.custom-arrow {
    transition: all 0.3s ease;
}

/* On hover red border and red background */
.custom-arrow:hover {
    border-color: #F53855 !important;       
    background-color: #F53855 !important;   
}

.custom-arrow img {
    transition: all 0.3s ease;
}

/* the arrow color on hover  */
.custom-arrow:hover img {
    filter: brightness(0) invert(1); /* white arrow on red background */
}
/* Move dots a bit lower */
.swiper-pagination {
    margin-top: 20px; /* increase value to move dots further down */
}

